.Heading {
    text-transform: capitalize;
}

.Container {
    display: inline-block;
    text-align: center;
}

.Circle {
    width: 25px;
    height: auto;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #000;
    margin: 5px 15px ;
    padding: 2px 10px;
    font-weight: bold;
    transition: background-color 400ms ease-in-out;
}

.Circle:hover {
    background-color: white;
    color: black;
}

@media(max-width:1000px) {
    .Circle {
        margin : 10px;
    }
}

